<a href="https://colab.research.google.com/github/erikgqp8645/-Pandas-/blob/master/%E5%9B%BA%E5%AE%9A%E5%B8%82%E5%80%BC%E6%B3%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [59]:
!pip install akshare

Requirement already satisfied: akshare in /usr/local/lib/python3.7/dist-packages (1.4.39)
Requirement already satisfied: html5lib>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from akshare) (1.0.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from akshare) (1.21.5)
Requirement already satisfied: py-mini-racer>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from akshare) (0.6.0)
Requirement already satisfied: lxml>=4.2.1 in /usr/local/lib/python3.7/dist-packages (from akshare) (4.2.6)
Requirement already satisfied: beautifulsoup4>=4.9.1 in /usr/local/lib/python3.7/dist-packages (from akshare) (4.10.0)
Requirement already satisfied: websocket-client>=0.56.0 in /usr/local/lib/python3.7/dist-packages (from akshare) (1.2.3)
Requirement already satisfied: openpyxl>=3.0.3 in /usr/local/lib/python3.7/dist-packages (from akshare) (3.0.9)
Requirement already satisfied: pandas>=0.25 in /usr/local/lib/python3.7/dist-packages (from akshare) (1.3.5)
Requirement already satisfied: xlrd>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from akshare) (2.0.1)
Requirement already satisfied: requests>=2.22.0 in /usr/local/lib/python3.7/dist-packages (from akshare) (2.23.0)
Requirement already satisfied: pypinyin>=0.35.0 in /usr/local/lib/python3.7/dist-packages (from akshare) (0.46.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from akshare) (7.1.2)
Requirement already satisfied: tqdm>=4.43.0 in /usr/local/lib/python3.7/dist-packages (from akshare) (4.62.3)
Requirement already satisfied: jsonpath>=0.82 in /usr/local/lib/python3.7/dist-packages (from akshare) (0.82)
Requirement already satisfied: urllib3>=1.25.8 in /usr/local/lib/python3.7/dist-packages (from akshare) (1.25.11)
Requirement already satisfied: decorator>=4.4.2 in /usr/local/lib/python3.7/dist-packages (from akshare) (4.4.2)
Requirement already satisfied: tabulate>=0.8.6 in /usr/local/lib/python3.7/dist-packages (from akshare) (0.8.9)
Requirement already satisfied: matplotlib>=3.1.1 in /usr/local/lib/python3.7/dist-packages (from akshare) (3.2.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.7/dist-packages (from beautifulsoup4>=4.9.1->akshare) (2.3.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from html5lib>=1.0.1->akshare) (1.15.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from html5lib>=1.0.1->akshare) (0.5.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.1->akshare) (1.3.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.1->akshare) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.1->akshare) (3.0.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.1->akshare) (0.11.0)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl>=3.0.3->akshare) (1.1.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25->akshare) (2018.9)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->akshare) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->akshare) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->akshare) (3.0.4)

In [60]:
import pandas as pd
import akshare as ak

In [61]:
df = ak.fund_open_fund_info_em(fund="710001", indicator="单位净值走势")
df

            净值日期    单位净值  日增长率
0     2011-09-21  1.0000  0.00
1     2011-09-23  1.0000  0.00
2     2011-09-30  1.0001  0.01
3     2011-10-14  1.0005  0.04
4     2011-10-21  1.0007  0.02
...          ...     ...   ...
2518  2022-02-15  3.3614 -0.10
2519  2022-02-16  3.3765  0.45
2520  2022-02-17  3.3683 -0.24
2521  2022-02-18  3.4011  0.97
2522  2022-02-21  3.4143  0.39

[2523 rows x 3 columns]

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2523 entries, 0 to 2522
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   净值日期    2523 non-null   object
 1   单位净值    2523 non-null   float64
 2   日增长率    2523 non-null   float64
dtypes: float64(2), object(1)
memory usage: 59.3+ KB

In [70]:
res = (
    df.astype({"净值日期":"datetime64[ns]"})
    .set_index("净值日期")
    .assign(计划投资=1000)
    .assign(累计投资 = lambda d:d.计划投资.cumsum())
    .assign(月份 = lambda m :m.index.month)
    .assign(日 = lambda m :m.index.day)
    
)

In [71]:
res

              单位净值  日增长率  计划投资     累计投资  月份   日
净值日期
2011-09-21  1.0000  0.00  1000     1000   9  21
2011-09-23  1.0000  0.00  1000     2000   9  23
2011-09-30  1.0001  0.01  1000     3000   9  30
2011-10-14  1.0005  0.04  1000     4000  10  14
2011-10-21  1.0007  0.02  1000     5000  10  21
...            ...   ...   ...      ...  ..  ..
2022-02-15  3.3614 -0.10  1000  2519000   2  15
2022-02-16  3.3765  0.45  1000  2520000   2  16
2022-02-17  3.3683 -0.24  1000  2521000   2  17
2022-02-18  3.4011  0.97  1000  2522000   2  18
2022-02-21  3.4143  0.39  1000  2523000   2  21

[2523 rows x 6 columns]

In [72]:
res["最大日期"] =res.groupby("月份")["日"].transform("max")

In [73]:
res

              单位净值  日增长率  计划投资     累计投资  月份   日  最大日期
净值日期
2011-09-21  1.0000  0.00  1000     1000   9  21    30
2011-09-23  1.0000  0.00  1000     2000   9  23    30
2011-09-30  1.0001  0.01  1000     3000   9  30    30
2011-10-14  1.0005  0.04  1000     4000  10  14    31
2011-10-21  1.0007  0.02  1000     5000  10  21    31
...            ...   ...   ...      ...  ..  ..   ...
2022-02-15  3.3614 -0.10  1000  2519000   2  15    29
2022-02-16  3.3765  0.45  1000  2520000   2  16    29
2022-02-17  3.3683 -0.24  1000  2521000   2  17    29
2022-02-18  3.4011  0.97  1000  2522000   2  18    29
2022-02-21  3.4143  0.39  1000  2523000   2  21    29

[2523 rows x 7 columns]

In [75]:
res = res[res['日']==res['最大日期']]
res

              单位净值    日增长率  计划投资     累计投资  月份   日  最大日期
净值日期
2011-09-30  1.0001  0.0100  1000     3000   9  30    30
2011-10-31  1.0107  0.5572  1000     8000  10  31    31
2011-11-30  0.9849 -3.3654  1000    30000  11  30    30
2011-12-31  0.9539  0.0000  1000    53000  12  31    31
2012-01-31  0.9185  0.0436  1000    68000   1  31    31
...            ...     ...   ...      ...  ..  ..   ...
2021-06-30  3.4880  1.6200  1000  2368000   6  30    30
2021-08-31  3.6250 -0.5100  1000  2412000   8  31    31
2021-09-30  3.4974  2.2200  1000  2432000   9  30    30
2021-11-30  3.6067 -0.0800  1000  2470000  11  30    30
2021-12-31  3.6326  1.0300  1000  2493000  12  31    31

[86 rows x 7 columns]